// default styles
body {
  color: white;
  background-color: #222232;
}

body, button, input, optgroup, select, textarea {
  font-family: "proximanova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.6px;
}