# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @skpark-lunit
/packages/insight-viewer/ @skpark-lunit
/apps/insight-viewer-docs/ @skpark-lunit
/packages/osd-react-renderer/ @tchung1118
/apps/osd-viewer-demo/ @tchung1118