{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.d.ts",
      "options": {
        "arrowParens": "avoid",
        "singleQuote": true,
        "trailingComma": "all",
        "tabWidth": 4,
        "printWidth": 120,
        "semi": true
      }
    }
  ]
}
