@import 'prism-vsc-dark-plus.css';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Custom Cursor 적용 방법 */

.measurement {
  cursor: url('../assets/ruler.png') 10 10, auto;
}

.editing {
  cursor: url('../assets/move.png') 20 20, auto !important;
}

.editable {
  cursor: url('../assets/crosshair.png') 20 20, auto !important;
}

.pointer {
  cursor: url('../assets/default.png') 10 10, auto;
}

.moving {
  cursor: url('../assets/default.png') 10 10, auto !important;
}

.annotation.ruler {
  cursor: url('../assets/ruler.png') 10 10, auto;
}

.annotation.area {
  cursor: url('../assets/ruler.png') 10 10, auto;
}

.annotation.line {
  cursor: url('../assets/crosshair.png') 20 20, auto !important;
}

.annotation.arrowLine {
  cursor: url('../assets/crosshair.png') 20 20, auto !important;
}

.annotation.polygon {
  cursor: url('../assets/pen.png') 10 10, auto !important;
}

.annotation.freeLine {
  cursor: url('../assets/pen.png') 10 10, auto !important;
}

.annotation.text {
  cursor: url('../assets/crosshair.png') 20 20, auto !important;
}

.annotation.point {
  cursor: url('../assets/crosshair.png') 20 20, auto !important;
}
