article .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

article .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

article .anchor:focus {
  outline: none;
}

article h1 .octicon-link,
article h2 .octicon-link,
article h3 .octicon-link,
article h4 .octicon-link,
article h5 .octicon-link,
article h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

article h1:hover .anchor,
article h2:hover .anchor,
article h3:hover .anchor,
article h4:hover .anchor,
article h5:hover .anchor,
article h6:hover .anchor {
  text-decoration: none;
}

article h1:hover .anchor .octicon-link,
article h2:hover .anchor .octicon-link,
article h3:hover .anchor .octicon-link,
article h4:hover .anchor .octicon-link,
article h5:hover .anchor .octicon-link,
article h6:hover .anchor .octicon-link {
  visibility: visible;
}

article h1:hover .anchor .octicon-link:before,
article h2:hover .anchor .octicon-link:before,
article h3:hover .anchor .octicon-link:before,
article h4:hover .anchor .octicon-link:before,
article h5:hover .anchor .octicon-link:before,
article h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}article {
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   line-height: 1.5;
   color: #24292e;
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
   font-size: 16px;
   line-height: 1.5;
   word-wrap: break-word;
 }

article details {
  display: block;
}

article summary {
  display: list-item;
}

article a {
  background-color: initial;
}

article a:active,
article a:hover {
  outline-width: 0;
}

article strong {
  font-weight: inherit;
  font-weight: bolder;
}

article h1 {
  font-size: 2em;
  margin: .67em 0;
}

article img {
  border-style: none;
}

article code,
article kbd,
article pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

article hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

article input {
  font: inherit;
  margin: 0;
}

article input {
  overflow: visible;
}

article [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

article * {
  box-sizing: border-box;
}

article input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

article a {
  color: #0366d6;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

article strong {
  font-weight: 600;
}

article hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

article hr:after,
article hr:before {
  display: table;
  content: "";
}

article hr:after {
  clear: both;
}

article table {
  border-spacing: 0;
  border-collapse: collapse;
}

article td,
article th {
  padding: 0;
}

article details summary {
  cursor: pointer;
}

article kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 0;
  margin-bottom: 0;
}

article h1 {
  font-size: 32px;
}

article h1,
article h2 {
  font-weight: 600;
}

article h2 {
  font-size: 24px;
}

article h3 {
  font-size: 20px;
}

article h3,
article h4 {
  font-weight: 600;
}

article h4 {
  font-size: 16px;
}

article h5 {
  font-size: 14px;
}

article h5,
article h6 {
  font-weight: 600;
}

article h6 {
  font-size: 12px;
}

article p {
  margin-top: 0;
  margin-bottom: 10px;
}

article blockquote {
  margin: 0;
}

article ol,
article ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

article ol ol,
article ul ol {
  list-style-type: lower-roman;
}

article ol ol ol,
article ol ul ol,
article ul ol ol,
article ul ul ol {
  list-style-type: lower-alpha;
}

article dd {
  margin-left: 0;
}

article code,
article pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
}

article pre {
  margin-top: 0;
  margin-bottom: 0;
}

article input::-webkit-inner-spin-button,
article input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

article :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

article .border {
  border: 1px solid #e1e4e8!important;
}

article .border-0 {
  border: 0!important;
}

article .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

article .rounded-1 {
  border-radius: 3px!important;
}

article .bg-white {
  background-color: #fff!important;
}

article .bg-gray-light {
  background-color: #fafbfc!important;
}

article .text-gray-light {
  color: #6a737d!important;
}

article .mb-0 {
  margin-bottom: 0!important;
}

article .my-2 {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}

article .pl-0 {
  padding-left: 0!important;
}

article .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

article .pl-1 {
  padding-left: 4px!important;
}

article .pl-2 {
  padding-left: 8px!important;
}

article .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

article .pl-3,
article .px-3 {
  padding-left: 16px!important;
}

article .px-3 {
  padding-right: 16px!important;
}

article .pl-4 {
  padding-left: 24px!important;
}

article .pl-5 {
  padding-left: 32px!important;
}

article .pl-6 {
  padding-left: 40px!important;
}

article .f6 {
  font-size: 12px!important;
}

article .lh-condensed {
  line-height: 1.25!important;
}

article .text-bold {
  font-weight: 600!important;
}

article .pl-c {
  color: #6a737d;
}

article .pl-c1,
article .pl-s .pl-v {
  color: #005cc5;
}

article .pl-e,
article .pl-en {
  color: #6f42c1;
}

article .pl-s .pl-s1,
article .pl-smi {
  color: #24292e;
}

article .pl-ent {
  color: #22863a;
}

article .pl-k {
  color: #d73a49;
}

article .pl-pds,
article .pl-s,
article .pl-s .pl-pse .pl-s1,
article .pl-sr,
article .pl-sr .pl-cce,
article .pl-sr .pl-sra,
article .pl-sr .pl-sre {
  color: #032f62;
}

article .pl-smw,
article .pl-v {
  color: #e36209;
}

article .pl-bu {
  color: #b31d28;
}

article .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

article .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

article .pl-c2:before {
  content: "^M";
}

article .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}

article .pl-ml {
  color: #735c0f;
}

article .pl-mh,
article .pl-mh .pl-en,
article .pl-ms {
  font-weight: 700;
  color: #005cc5;
}

article .pl-mi {
  font-style: italic;
  color: #24292e;
}

article .pl-mb {
  font-weight: 700;
  color: #24292e;
}

article .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

article .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

article .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

article .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

article .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

article .pl-ba {
  color: #586069;
}

article .pl-sg {
  color: #959da5;
}

article .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

article .mb-0 {
  margin-bottom: 0!important;
}

article .my-2 {
  margin-bottom: 8px!important;
}

article .my-2 {
  margin-top: 8px!important;
}

article .pl-0 {
  padding-left: 0!important;
}

article .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

article .pl-1 {
  padding-left: 4px!important;
}

article .pl-2 {
  padding-left: 8px!important;
}

article .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

article .pl-3 {
  padding-left: 16px!important;
}

article .pl-4 {
  padding-left: 24px!important;
}

article .pl-5 {
  padding-left: 32px!important;
}

article .pl-6 {
  padding-left: 40px!important;
}

article .pl-7 {
  padding-left: 48px!important;
}

article .pl-8 {
  padding-left: 64px!important;
}

article .pl-9 {
  padding-left: 80px!important;
}

article .pl-10 {
  padding-left: 96px!important;
}

article .pl-11 {
  padding-left: 112px!important;
}

article .pl-12 {
  padding-left: 128px!important;
}

article hr {
  border-bottom-color: #eee;
}

article kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

article:after,
article:before {
  display: table;
  content: "";
}

article:after {
  clear: both;
}

article>:first-child {
  margin-top: 0!important;
}

article>:last-child {
  margin-bottom: 0!important;
}

article a:not([href]) {
  color: inherit;
  text-decoration: none;
}

article blockquote,
article details,
article dl,
article ol,
article p,
article pre,
article table,
article ul {
  margin-top: 0;
  margin-bottom: 16px;
}

article hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

article blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

article blockquote>:first-child {
  margin-top: 0;
}

article blockquote>:last-child {
  margin-bottom: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

article h1 {
  font-size: 2em;
}

article h1,
article h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

article h2 {
  font-size: 1.5em;
}

article h3 {
  font-size: 1.25em;
}

article h4 {
  font-size: 1em;
}

article h5 {
  font-size: .875em;
}

article h6 {
  font-size: .85em;
  color: #6a737d;
}

article ol,
article ul {
  padding-left: 2em;
}

article ol ol,
article ol ul,
article ul ol,
article ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

article li {
  word-wrap: break-all;
}

article li>p {
  margin-top: 16px;
}

article li+li {
  margin-top: .25em;
}

article dl {
  padding: 0;
}

article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

article table {
  display: block;
  width: 100%;
  overflow: auto;
}

article table th {
  font-weight: 600;
}

article table td,
article table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

article table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

article table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

article img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

article img[align=right] {
  padding-left: 20px;
}

article img[align=left] {
  padding-right: 20px;
}

article code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

article pre {
  word-wrap: normal;
}

article pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

article .highlight {
  margin-bottom: 16px;
}

article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

article .highlight pre,
article pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

article pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

article .commit-tease-sha {
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 90%;
  color: #444d56;
}

article .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

article .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

article .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

article .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27,31,35,.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article .blob-num:hover {
  color: rgba(27,31,35,.6);
}

article .blob-num:before {
  content: attr(data-line-number);
}

article .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

article .blob-code-inner {
  overflow: visible;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

article .pl-token.active,
article .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

article .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

article .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

article .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

article .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

article .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

article .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

article .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

article .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

article .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

article .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

article .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

article .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

article .task-list-item {
  list-style-type: none;
}

article .task-list-item+.task-list-item {
  margin-top: 3px;
}

article .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}